#footer
  p.pull-left
    | Copyrights &copy; 2015 
    a.color-blue.strong(href='http://naga.ly', target='_blank') Naga.ly
    | . All rights reserved.
  |             
  p.pull-right
    a.mr5(href='#') Terms of use
    |                 |
    |                 
    a.ml5.mr25(href='#') Privacy police
// End #footer
// Back to top
#back-to-top
  a(href='#') Back to Top