extends ../index.jade
block head
  #wrapper
    // .page-content
    .page-content
      // .page-content-wrapper
      .page-content-wrapper
        .page-content-inner
          #page-header.clearfix
            .page-header
              h2 Shuttle.LY
              span.txt Make $$$ while you travel
            .header-stats
              .spark.clearfix
                .spark-info
                  span.number 2345
                  | Total trips
                #spark-visitors.sparkline
            //- .spark.clearfix
            //-   .spark-info
            //-     span.number 17345
            //-     | Views
            //-   #spark-templateviews.sparkline
            //- .spark.clearfix
            //-   .spark-info
            //-     span.number 3700$
            //-     | Sales
            //-   #spark-sales.sparkline
        