// Javascripts  
// Load pace first
script(src='plugins/core/pace/pace.min.js')
// Important javascript libs(put in all pages)
script(src='http://code.jquery.com/jquery-2.1.1.min.js')
script.
  window.jQuery || document.write('<script src="js/libs/jquery-2.1.1.min.js">\\x3C/script>')
script(src='http://code.jquery.com/ui/1.10.4/jquery-ui.js')
script.
  window.jQuery || document.write('<script src="js/libs/jquery-ui-1.10.4.min.js">\\x3C/script>')
//if lt IE 9
  script(type='text/javascript', src='js/libs/excanvas.min.js')
  script(type='text/javascript', src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  script(type='text/javascript', src='js/libs/respond.min.js')
// Bootstrap plugins
script(src='js/bootstrap/bootstrap.js')
// Core plugins ( not remove )
script(src='js/libs/modernizr.custom.js')
// Handle responsive view functions
script(src='js/jRespond.min.js')
// Custom scroll for sidebars,tables and etc.
script(src='plugins/core/slimscroll/jquery.slimscroll.min.js')
script(src='plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js')
// Remove click delay in touch
script(src='plugins/core/fastclick/fastclick.js')
// Increase jquery animation speed
script(src='plugins/core/velocity/jquery.velocity.min.js')
// Quick search plugin (fast search for many widgets)
script(src='plugins/core/quicksearch/jquery.quicksearch.js')
// Bootbox fast bootstrap modals
script(src='plugins/ui/bootbox/bootbox.js')
// Other plugins ( load only nessesary plugins for every page)
script(src='plugins/charts/sparklines/jquery.sparkline.js')
script(src='plugins/tables/datatables/jquery.dataTables.js')
script(src='plugins/tables/datatables/dataTables.tableTools.js')
script(src='plugins/tables/datatables/dataTables.bootstrap.js')
script(src='plugins/tables/datatables/dataTables.responsive.js')
script(src='js/jquery.dynamic.js')
script(src='js/main.js')