extends layout
block content
  #wrapper
    if login
      include sidebar
    // .page-content
    .page-content
      // .page-content-wrapper
      .page-content-wrapper
        .page-content-inner
          #page-header.clearfix
            .page-header
              h2 Shuttle.LY
              span.txt Make $$$ while you travel
            .header-stats
              .spark.clearfix
                .spark-info
                  span.number 2345
                  | Total trips
                #spark-visitors.sparkline
          include tables.jade
  include inc/footer
  include inc/scripts
  script(src='plugins/tables/datatables/jquery.dataTables.js')
  script(src='plugins/tables/datatables/dataTables.tableTools.js')
  script(src='plugins/tables/datatables/dataTables.bootstrap.js')
  script(src='plugins/tables/datatables/dataTables.responsive.js')
  script(src='js/jquery.dynamic.js')
  script(src='js/main.js')
  script(src='js/pages/modals.js')
  script(src='js/pages/tables-data.js')
  unless login
    script.
      $(document).ready(function() {
        $('body').data('dynamic').hideLeftSidebar();
      });
