doctype html
html.no-js
  head
    meta(charset='utf-8')
    title Welcome Shuttl.LY 
    // Mobile specific metas
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no')
    // Force IE9 to render in normal mode
    //if IE
      meta(http-equiv='x-ua-compatible', content='IE=9')
    meta(name='author', content='')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='application-name', content='')
    link(href='', rel='stylesheet', type='text/css')
    // css files
    // Icons
    link(href='/css/icons.css', rel='stylesheet')
    // Bootstrap stylesheets (included template modifications)
    link(href='/css/bootstrap.css', rel='stylesheet')
    // //plugins stylesheets (all plugin custom css)
    link(href='/css/plugins.css', rel='stylesheet')
    // Main stylesheets (template main css file)
    link(href='/css/main.css', rel='stylesheet')
    // Custom stylesheets ( Put your own changes here )
    link(href='/css/custom.css', rel='stylesheet')
    // Fav and touch icons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='img/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='img/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='img/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='img/ico/apple-touch-icon-57-precomposed.png')
    link(rel='icon', href='img/ico/favicon.ico', type='image/png')
    // Windows8 touch icon ( http://www.buildmypinnedsite.com/ )
    meta(name='msapplication-TileColor', content='#3399cc')
  
  body
    block empty
      //if lt IE 9
        p.browsehappy
          | You are using an 
          strong outdated
          |  browser. Please 
          a(href='http://browsehappy.com/') upgrade your browser
          |  to improve your experience.
      // .page-navbar
      #header.page-navbar
        // .navbar-brand
        a.navbar-brand.hidden-xs.hidden-sm(href='index.html')
          img.logo.hidden-xs(src='img/logo.png', alt='Dynamic logo')
          img.logo-sm.hidden-lg.hidden-md(src='img/logosm.png', alt='Dynamic logo')
        // / navbar-brand
        // .no-collapse
        #navbar-no-collapse.navbar-no-collapse
          // top left nav
          ul.nav.navbar-nav
            li.toggle-sidebar
              a(href='#')
                i.fa.fa-reorder
                span.sr-only Collapse sidebar
            li
              a.reset-layout.tipB(href='#', title='Reset panel position for this page')
                i.fa.fa-history
          // / top left nav
          // top right nav
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a(href='#', data-toggle='dropdown')
                i.fa.fa-bell-o
                span.sr-only Notifications
                span.badge.badge-danger 6
              ul.dropdown-menu.right.dropdown-notification(role='menu')
                li
                  a.dropdown-menu-header(href='#') Notifications
                li
                  a(href='#')
                    i.l-basic-life-buoy
                    |  2 support request
                li
                  a(href='#')
                    i.l-basic-gear
                    |  Settings is changed
                li
                  a(href='#')
                    i.l-weather-lightning
                    |  5 min server downtime
                li
                  a(href='#')
                    i.l-basic-server2
                    |  Databse backup is complete
                li
                  a(href='#')
                    i.l-basic-lightbulb
                    |  SuggeElson push 1 commit
                li
                  a.view-all(href='#')
                    | View all 
                    i.l-arrows-right
            li.dropdown
              a(href='#', data-toggle='dropdown')
                i.fa.fa-cog
                span.sr-only Settings
              ul.dropdown-menu.dropdown-form.dynamic-settings.right(role='menu')
                li
                  a.dropdown-menu-header(href='#') Template settings
                li
                  .toggle-custom
                    label.toggle(data-on='ON', data-off='OFF')
                      input#fixed-header-toggle(type='checkbox', name='fixed-header-toggle', checked='')
                      span.button-checkbox
                    label(for='fixed-header-toggle') Fixed header
                li
                  .toggle-custom
                    label.toggle(data-on='ON', data-off='OFF')
                      input#fixed-left-sidebar(type='checkbox', name='fixed-left-sidebar', checked='')
                      span.button-checkbox
                    label(for='fixed-left-sidebar') Fixed Left Sidebar
                li
                  .toggle-custom
                    label.toggle(data-on='ON', data-off='OFF')
                      input#fixed-right-sidebar(type='checkbox', name='fixed-right-sidebar', checked='')
                      span.button-checkbox
                    label(for='fixed-right-sidebar') Fixed Right Sidebar
            li
              a(href='login.html')
                i.fa.fa-power-off
                span.sr-only Logout
            li
              a#toggle-right-sidebar.tipB(href='#', title='Toggle right sidebar')
                i.l-software-layout-sidebar-right
                span.sr-only Toggle right sidebar
          // / top right nav
        // / collapse
      // / page-navbar
      // #wrapper
      #wrapper
        // .page-sidebar
        aside#sidebar.page-sidebar.hidden-md.hidden-sm.hidden-xs
          // Start .sidebar-inner
          .sidebar-inner
            // Start .sidebar-scrollarea
            .sidebar-scrollarea
              // .sidebar-panel
              .sidebar-panel
                h5.sidebar-panel-title Profile
              // / .sidebar-panel
              .user-info.clearfix
                img(src='img/avatars/128.jpg', alt='avatar')
                span.name SuggeElson
                .btn-group
                  button.btn.btn-default.btn-xs(type='button')
                    i.l-basic-gear
                  button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                    | settings 
                    span.caret
                  ul.dropdown-menu.right(role='menu')
                    li
                      a(href='profile.html')
                        i.fa.fa-edit
                        | Edit profile
                    li
                      a(href='#')
                        i.fa.fa-money
                        | Windraws
                    li
                      a(href='#')
                        i.fa.fa-credit-card
                        | Deposits
                    li.divider
                    li
                      a(href='login.html')
                        i.fa.fa-power-off
                        | Logout
              // .sidebar-panel
              .sidebar-panel
                h5.sidebar-panel-title Navigation
              // / .sidebar-panel
              // .side-nav
              .side-nav
                ul.nav
                  li
                    a(href='index.html')
                      i.l-basic-laptop
                      span.txt Dashboard
                  li
                    a(href='', target='_blank')
                      i.l-basic-webpage
                      span.txt Frontend
                      span.label hot
                  li
                    a(href='#')
                      i.l-ecommerce-graph1
                      span.txt Charts
                    ul.sub
                      li
                        a(href='charts-flot.html')
                          span.txt Flot charts
                      li
                        a(href='charts-morris.html')
                          span.txt Morris charts
                      li
                        a(href='charts-chartjs.html')
                          span.txt Chartjs 
                      li
                        a(href='charts-other.html')
                          span.txt Other charts
                  li
                    a(href='#')
                      i.l-ecommerce-graph1
                      span.txt Trips
                    ul.sub
                      li
                        a(href='showing_trips')
                          span.txt Show Trips
                      li
                        a(href='#')
                          span.txt Add Trips
                     
                  li
                    a(href='#')
                      i.l-basic-webpage-txt
                      span.txt Forms
                    ul.sub
                      li
                        a(href='forms-basic.html')
                          span.txt Basic forms
                      li
                        a(href='forms-advanced.html')
                          span.txt Advanced forms
                      li
                        a(href='forms-layouts.html')
                          span.txt Form layouts
                      li
                        a(href='forms-wizard.html')
                          span.txt Form wizard
                      li
                        a(href='forms-validation.html')
                          span.txt Form validation
                      li
                        a(href='code-editor.html')
                          span.txt Code editor
                  li
                    a(href='#')
                      i.l-software-layout-header-3columns
                      span.txt Tables
                    ul.sub
                      li
                        a(href='tables-basic.html')
                          span.txt Basic tables
                      li
                        a(href='tables-data.html')
                          span.txt Data tables
                      li
                        a(href='tables-editable.html')
                          span.txt Editable tables
                      li
                        a(href='tables-ajax.html')
                          span.txt Ajax tables
                      li
                        a(href='tables-pricing.html')
                          span.txt Pricing tables
                  li
                    a(href='#')
                      i.l-software-layers2
                      span.txt UI Elements
                    ul.sub
                      li
                        a(href='icons.html')
                          span.txt Icons
                      li
                        a(href='typography.html')
                          span.txt Typography
                      li
                        a(href='tabs.html')
                          span.txt Tabs
                      li
                        a(href='accordions.html')
                          span.txt Accordions
                      li
                        a(href='buttons.html')
                          span.txt Buttons
                      li
                        a(href='notifications.html')
                          span.txt Notifications
                      li
                        a(href='modals.html')
                          span.txt Modals
                      li
                        a(href='sliders.html')
                          span.txt Sliders
                      li
                        a(href='progressbars.html')
                          span.txt Progressbars
                      li
                        a(href='lists.html')
                          span.txt Lists
                      li
                        a(href='grid.html')
                          span.txt Grid
                      li
                        a(href='ui-other.html')
                          span.txt Other
                  li
                    a(href='portlets.html')
                      i.l-software-layout-header
                      span.txt Portlets
                      span.label 22
                  li
                    a(href='#')
                      i.l-basic-mail
                      span.txt Email
                    ul.sub
                      li
                        a(href='email-inbox.html')
                          span.txt Inbox
                      li
                        a(href='email-read.html')
                          span.txt Read email
                      li
                        a(href='email-write.html')
                          span.txt Write email
                  li
                    a(href='#')
                      i.l-basic-geolocalize-01
                      span.txt Maps
                    ul.sub
                      li
                        a(href='maps-google.html')
                          span.txt Google maps
                      li
                        a(href='maps-vector.html')
                          span.txt Vector maps
                  li
                    a(href='#')
                      i.l-basic-webpage
                      span.txt Pages
                    ul.sub
                      li
                        a(href='login.html')
                          span.txt Login
                      li
                        a(href='lock-screen.html')
                          span.txt Lock screen
                      li
                        a(href='register.html')
                          span.txt Register
                      li
                        a(href='lost-password.html')
                          span.txt Lost password
                      li
                        a(href='profile.html')
                          span.txt User profile
                      li
                        a(href='calendar.html')
                          span.txt Calendar
                      li
                        a(href='timeline.html')
                          span.txt Timeline
                      li
                        a(href='gallery.html')
                          span.txt Gallery
                      li
                        a(href='invoice.html')
                          span.txt Invoice
                      li
                        a(href='blank.html')
                          span.txt Blank page
                      li
                        a(href='#')
                          span.txt Error pages
                        ul.sub
                          li
                            a(href='403.html')
                              span.txt 403
                          li
                            a(href='404.html')
                              span.txt 404
                          li
                            a(href='500.html')
                              span.txt 500
              // / side-nav
              // .sidebar-panel
              .sidebar-panel
                h5.sidebar-panel-title Server stats
                .sidebar-panel-content
                  .sidebar-stat.mb10
                    p.color-white.mb5.mt5
                      i.fa.fa-hdd-o.mr5
                      |  Disk Space 
                      span.pull-right.small 30%
                    .progress.flat.transparent.progress-bar-xs
                      .progress-bar.progress-bar-white(role='progressbar', aria-valuenow='30', aria-valuemin='0', aria-valuemax='100', style='width: 30%;')
                    span.dib.s12.mt5.per100.text-center 3001.56 / 10000 MB
                  .sidebar-stat
                    p.color-white.mb5.mt5
                      i.glyphicon.glyphicon-transfer.mr5
                      |  Bandwidth Transfer 
                      span.pull-right.small 78%
                    .progress.flat.transparent.progress-bar-xs
                      .progress-bar.progress-bar-white(role='progressbar', aria-valuenow='78', aria-valuemin='0', aria-valuemax='100', style='width: 78%;')
                    span.dib.s12.mb10.mt5.per100.text-center 87565.12 / 120000 MB
        
       
                ul#rstab.nav.nav-tabs.nav-justified
                  li.active
                    a(href='#activity', data-toggle='tab')
                      i.glyphicon.glyphicon-bullhorn
                  li
                    a(href='#users', data-toggle='tab')
                      i.fa.fa-comments
                          // End .form-group
              // End .rs tabs
            // End .sidebar-scrollarea
          // End .sidebar-inner
        // End #right-sidebar
        // .page-content
        .page-content.sidebar-page.right-sidebar-page.clearfix
          // .page-content-wrapper
          .page-content-wrapper
            .page-content-inner
              // .page-content-inner
              #page-header.clearfix
                .page-header
                  h2 Mr. abdullah Elam
                  span.txt Welcome to shuttle
                .header-stats
                  .spark.clearfix
                    .spark-info
                      span.number 2345
                      | Visitors
                    #spark-visitors.sparkline
                  .spark.clearfix
                    .spark-info
                      span.number 17345
                      | Views
                    #spark-templateviews.sparkline
                  .spark.clearfix
                    .spark-info
                      span.number 3700$
                      | Sales
                    #spark-sales.sparkline
          block content

  #footer.clearfix.sidebar-page.right-sidebar-page
    // Start #footer
    p.pull-left
      | Copyrights © 2014 
      a.color-blue.strong(href='http://suggeelson.com/', target='_blank') SuggeElson
      | . All rights reserved.
    p.pull-right
      a.mr5(href='#') Terms of use
      |                 |
      a.ml5.mr25(href='#') Privacy police
  // End #footer
  // Back to top
  #back-to-top
    a(href='#') Back to Top
block footer





