.row
  .col-lg-6.col-md-12
    // col-lg-6 start here
    #dyn_1.panel.panel-default.toggle.panelMove.panelClose.panelRefresh
      // Start .panel
      .panel-heading
        h4.panel-title
          i.fa.fa-magic
          |  List your new trip
        |                                     
        .panel-controls.panel-controls-right
          a.panel-refresh(href='#')
            i.fa.fa-circle-o
          a.toggle.panel-minimize(href='#')
            i.fa.fa-angle-up
          a.panel-close(href='#')
            i.fa.fa-times
      |                                     
      .panel-body.pt0.pb0
        #wizard1.bwizard
          // Start .bwizard
          ul.bwizard-steps
            li.completed.active
              a(href='#tab4', data-toggle='tab', aria-expanded='true')
                span.step-number 1
                |                                                         
                span.step-text Trip Info
            |                                                 
            li
              a(href='#tab5', data-toggle='tab', aria-expanded='false')
                span.step-number 2
                |                                                         
                span.step-text Contact Info
            |                                                 
            li
              a(href='#tab6', data-toggle='tab', aria-expanded='false')
                span.step-number 3
                |                                                         
                span.step-text Notes
          |                                             
          .wizard-progress
            #bar.progress
              .progress-bar(style='width: 33.3333333333333%;')
          |                                             
          form#tripForm.form-horizontal(role='form')
            .tab-content
              #tab4.tab-pane.active
                .form-group
                  label.col-lg-2.col-md-2.control-label From Location
                  |  
                  .col-lg-10
                    .row
                      // Start .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-12
                        select#countries.form-control.select2
                          for val in countries
                            option(value='#{val.iso}') #{val.local_name}
                      .col-lg-3.col-md-3.col-sm-3.col-xs-12
                        select#states.form-control.select2                                                         
                      .col-lg-3.col-md-3.col-sm-3.col-xs-12
                        select#cities.form-control.select2
                    // End .row

                .form-group
                  label.col-lg-2.col-md-2.control-label Departure Time
                  |                                                             
                  .col-lg-3.col-md-3.col-sm-3.col-xs-10
                    .input-group
                      span.input-group-addon
                        i.fa.fa-calendar
                      input#basic-datepicker.form-control(type='text')
                  
                  .col-lg-3.col-md-3.col-sm-3.col-xs-12
                    .input-group.bootstrap-timepicker
                      span.input-group-addon
                        i.fa.fa-clock-o
                      input#default-timepicker.form-control(type='text')  
                hr  
                .form-group
                  label.col-lg-2.col-md-2.control-label To Location
                  |  
                  .col-lg-10
                    .row
                      // Start .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-12
                        select#countries2.form-control.select2
                          for val in countries
                            option(value='#{val.iso}') #{val.local_name}
                      .col-lg-3.col-md-3.col-sm-3.col-xs-12
                        select#states2.form-control.select2                                                         
                      .col-lg-3.col-md-3.col-sm-3.col-xs-12
                        select#cities2.form-control.select2
                    // End .row

                .form-group
                  label.col-lg-2.col-md-2.control-label Arrival  Time
                  |                                                             
                  .col-lg-3.col-md-3.col-sm-3.col-xs-10
                    .input-group
                      span.input-group-addon
                        i.fa.fa-calendar
                      input#basic-datepicker2.form-control(type='text')
                  
                  .col-lg-3.col-md-3.col-sm-3.col-xs-12
                    .input-group.bootstrap-timepicker
                      span.input-group-addon
                        i.fa.fa-clock-o
                      input#default-timepicker2.form-control(type='text')                                                         

                // End .control-group
              |                                                     
              #tab5.tab-pane
                .form-group
                  label.col-lg-2.col-md-3.control-label How are you traveling? 
                  |                                                             
                  .col-lg-10.col-md-9
                    select.fancy-select1.form-control
                      option(data-icon='fa fa-automobile', value='Driving') Driving
                      option(data-icon='fa fa-plane', value='Flying') Flying
                      
                      
                // End .control-group
                .form-group
                  label.col-lg-2.col-md-3.control-label What services are you providing?
                  |                                                             
                  .col-lg-10.col-md-9
                    .toggle-custom.toggle-inline
                      label.toggle(data-on='ON', data-off='OFF')
                        input#radio-toggle3(type='radio', name='transportation', checked='',value=1)
                        |                                                             
                        span.button-radio
                      |                                                         
                      label(for='radio-toggle3') Package delivery
                    |                                                     
                    .toggle-custom.toggle-inline
                      label.toggle(data-on='ON', data-off='OFF')
                        input#radio-toggle4(type='radio', name='transportation', value=2)
                        |                                                             
                        span.button-radio
                      |                                                         
                      label(for='radio-toggle4') Ride share
                    |                                                     
                    .toggle-custom.toggle-inline
                      label.toggle(data-on='ON', data-off='OFF')
                        input#radio-toggle5(type='radio', name='transportation',value=3)
                        |                                                             
                        span.button-radio
                      |                                                         
                      label(for='radio-toggle5') Both

                // End .control-group
              |                                                     
              #tab6.tab-pane
                .form-group
                  label.col-lg-2.col-md-3.control-label Phone#
                  |                                                             
                  .col-lg-10.col-md-9
                    .input-group.input-icon
                      span.input-group-addon
                        i.fa.fa-phone.s16
                      input.form-control(type='text', placeholder='+99 999 999 9999')
                .form-group
                  label.col-lg-2.col-md-3.control-label Email
                  |                                                             
                  .col-lg-10.col-md-9
                    .input-group.input-icon
                      span.input-group-addon
                        i.fa.fa-envelope
                      input.form-control(type='text', placeholder='example@email.com')

                // End .control-group
                .form-group
                  label.col-lg-2.col-md-3.control-label Notes
                  |                                                             
                  .col-lg-10.col-md-9
                    textarea.form-control.icon-textarea(rows='3')
                    i.fa.fa-comments.textarea-icon.s16
                // End .control-group
          |                                             
          ul.pager
            li.previous.disabled
              a(href='#') &larr; Back
            |                                                 
            li.next(style='display: inline;')
              a(href='#') Next &rarr;
            |                                                 
            li.next.finish(style='display: none;')
              a#listTrip(href='#') Finish
        // End .bwizard
    // End .panel
