extends layout
block content
  #wrapper
    // .page-content
    .page-content
      // .page-content-wrapper
      .page-content-wrapper
        .page-content-inner
          #page-header.clearfix
            .page-header
              h2 Shuttle.LY
              span.txt Make $$$ while you travel
            .header-stats
              .spark.clearfix
                .spark-info
                  span.number 2345
                  | Total trips
                #spark-visitors.sparkline
          include map
  include inc/footer
  include inc/scripts

  script(src='/plugins/misc/vectormaps/jquery-jvectormap-1.2.2.min.js')
  script(src='/plugins/misc/vectormaps/maps/jquery-jvectormap-world-mill-en.js')
  script(src='/js/jquery.dynamic.js')
  script(src='/js/main.js')
  script().
    $(document).ready(function() {
      $('#spark-visitors').sparkline([5,8,10,8,7,12,11,6,13,8,5,8,10,11,7,12,11,6,13,8], {
      type: 'bar',
      width: '100%',
      height: '20px',
      barColor: '#dfe2e7',
      zeroAxis: false,
    });

       $('body').on('click','.jvectormap-marker', function (req) {
       // window.location.href='/city'; 
      

      });


    $('#spark-templateviews').sparkline([12,11,6,13,8,5,8,10,12,11,6,13,8,5,8,10,12,11,6,13,8,5,8], {
      type: 'bar',
      width: '100%',
      height: '20px',
      barColor: '#dfe2e7',
      zeroAxis: false,
    });

    $('#spark-sales').sparkline([19,18,20,17,20,18,22,24,23,19,18,20,17,20,18,22,24,23,19,18,20,17], {
      type: 'bar',
      width: '100%',
      height: '20px',
      barColor: '#dfe2e7',
      zeroAxis: false,
    });

    //------------- Vector maps -------------//
    $('#world-map-markers').vectorMap({
        map: 'world_mill_en',
        scaleColors: ['#f7f9fe', '#29b6d8'],
        normalizeFunction: 'polynomial',
        hoverOpacity: 0.7,
        hoverColor: false,

      focusOn:{
        x: 0.5,
        y: 0.5,
        scale: 2.0
      },
      zoomMin:0.85,
        markerStyle: {
          initial: {
            fill: '#df6a78',
            stroke: '#df6a78'

          }
        },
        backgroundColor: '#fff',
        regionStyle:{
        initial: {
          fill: '#dde1e7',
          "fill-opacity": 1,
          stroke: '#f7f9fe',
          "stroke-width": 0,
          "stroke-opacity": 0
        },
        hover: {
          "fill-opacity": 0.8
        },
        selected: {
          fill: 'yellow'
        }
      },

        markers: 
         !{JSON.stringify(c)},   


         onMarkerClick: function(events, label, index,weburl) {
         window.location.href='/city'+label;
          }
      
      });

  
     
      });






